#time-left{
    position: absolute;
    right: 10px;
    margin: 10px;
}

body{
    display: flex;
}
#game-card{
    justify-content: center;
}

#start-btn{
    width: 100px;
    background-color: aquamarine;
    align-content: center;
    margin: auto;
    
}